
@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-80%);
    }
}


.logos{
    overflow: hidden;
    padding: 1.0rem 0 ;
    background-color: #ffffff;
    white-space:nowrap;
    position: relative;
    z-index: 2;
}


.logos-slide img{
    height: 4.925rem;
    margin: 0 2.5rem;
}


.logos::before{
    position: absolute;
    top: 0;
    left: 0;
    width: 15.625rem;
    height: 100%;
}



.logos-slide{
    display: inline-block;
   
    animation: 50s slide infinite linear;
}


.titles3{
    padding: 1.0rem;
    text-align: center;
    color: #478A70;
    background-color: #ffffff;
}