@media screen and (min-width: 20em){

    .container-4{
        width: 100%;
        height: auto;
        padding: 0.1rem;
        background-color: #E6F3EE;
        padding-top: 6.5rem;
    }
    
    
    
    .container-conteudo1{
        align-items: center;
        justify-content: center;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column-reverse;
         gap: 0.5rem;
    }
    
    .texto{
        color: #24394F;
        display: flex;
        flex-direction: column;
        width: 90%;
        margin-top: 0.1rem;
        margin-bottom: 2rem;
        text-align: center;
       
        h1{
            font-size: 130%;
        }
        p{
            font-size: 90%;
        }
       
    }
    .logo1 {
        margin-top: -5rem;
        margin-right: 2rem; /* Empurra a imagem para a esquerda */
    }
    .logo1 img {
      margin-left: 20%;
        max-width: 70%; /* Faz com que a imagem nunca ultrapasse a largura de seu contêiner */
          height: auto; /* Mantém a proporção da imagem ao redimensionar */
    }
    
    
    .main-title1 {
        font-size: 3.875rem;
        text-transform: uppercase;
        text-align: center;
        margin: 2.875rem 0;
        color: #E6F3EE;
       
    }
    }



@media screen and (min-width: 60em){

.container-4{
    width: 100%;
    height: auto;
    padding: 0.5rem;
    background-color: #E6F3EE;
    padding-top: 0.5rem;
}



.container-conteudo1{
    align-items: center;
    justify-content: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
     
}

.texto{
    color: #24394F;
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-top: 3rem;
    margin-bottom: 2rem;
    margin-left: 5rem;
    h1{
        font-size: 250%;
    }
    p{
        font-size: 150%;
    }
   
}
.logo1 {
    margin-top: -19rem;
    margin-right: 9rem; /* Empurra a imagem para a esquerda */
    min-width: auto; /* Ou um valor específico se você quiser controlar o tamanho da div que contém a imagem */
    height: 10rem;
}
.logo1 img {
    min-width: 100%; /* Aumenta o tamanho da imagem */
    height: 29rem; /* Mantém a proporção da imagem */
}


.main-title1 {
    font-size: 3.875rem;
    text-transform: uppercase;
    text-align: center;
    margin: 2.875rem 0;
    color: #E6F3EE;
   
}
}