@media screen and (min-width: 20em){

.container-4{
    width: 100%;
    height: auto;
    padding: 0.1rem;
    background-color: #E6F3EE;
    padding-top: 6.5rem;
}



.container-conteudo1{
    align-items: center;
    justify-content: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column-reverse;
     gap: 0.5rem;
}

.texto{
    color: #24394F;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-top: 0.1rem;
    margin-bottom: 2rem;
    text-align: center;
   
    h1{
        font-size: 130%;
    }
    p{
        font-size: 90%;
    }
   
}
.logo1 {
    margin-top: -5rem;
    margin-right: 2rem; /* Empurra a imagem para a esquerda */
}
.logo1 img {
  margin-left: 20%;
    max-width: 70%; /* Faz com que a imagem nunca ultrapasse a largura de seu contêiner */
      height: auto; /* Mantém a proporção da imagem ao redimensionar */
}


.main-title1 {
    font-size: 3.875rem;
    text-transform: uppercase;
    text-align: center;
    margin: 2.875rem 0;
    color: #E6F3EE;
   
}
}