@media screen and (min-width: 50em){

.container-4{
    width: 100%;
    height: auto;
    padding: 0.5rem;
    background-color: #E6F3EE;
    padding-top: 6.5rem;
}



.container-conteudo1{
    align-items: center;
    justify-content: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
     
}

.texto{
    color: #24394F;
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-top: 3rem;
    margin-bottom: 2rem;
    margin-left: 5rem;
    h1{
        font-size: 250%;
    }
    p{
        font-size: 150%;
    }
   
}
.logo1 {
    margin-top: -15rem;
    justify-content: center;
    align-items: center;
    margin-right: 5rem; /* Empurra a imagem para a esquerda */
    min-width: auto; /* Ou um valor específico se você quiser controlar o tamanho da div que contém a imagem */
    height: 10rem;
}
.logo1 img {
    width: auto; /* Aumenta o tamanho da imagem */
    height: 25rem; /* Mantém a proporção da imagem */
}


.main-title1 {
    font-size: 3.875rem;
    text-transform: uppercase;
    text-align: center;
    margin: 2.875rem 0;
    color: #E6F3EE;
   
}
}