@media screen and (min-width: 50em) {

.pricing2 {
    padding: 3rem;
    display: flex;
    gap: 2rem;
}

.pricing-plan2 {
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: #f3fffb;
    padding: 1.475rem;
    border-radius: 0.375rem;
    box-shadow: 0 0.3125rem 0.9375rem -6px black;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.class-plan__title2 {
    text-align: center;
    /* text-transform: uppercase; */
    margin-top: 0;
    padding-bottom: 0.625rem;
    letter-spacing: 0.125;
    color: #509B7E;
            span{
                font-size: 3.5rem;
            }

}

.class-plan__title3 {
    text-align: center;
    text-transform: uppercase;
    margin-top: 0;
    padding-bottom: 0.725rem;
    letter-spacing: 0.125;
    color: #509B7E;
    font-size: 3rem
}

.pricing-plan2 p {
    margin-top: 0;
}

.pricing-plan__price2 {
    font-size: 2.125rem;
}



.pricing-plan__features2 li::marker {
    color: #ffffff;
}




.main-title2 {
    font-size: 3.875rem;
    text-transform: uppercase;
    text-align: center;
    margin: 2.875rem 0;
    color: #E6F3EE;
}
}