.container{
    display: flex;
    padding: 1rem;
    width: 100%;
    height: 18rem;
    justify-content: space-between;
}



.banner1 img {
    max-width: 100%; /* Faz com que a imagem não ultrapasse a largura da div */
    max-height: 100%; 
    border-radius: 5px;
  }

  