.container{
    display:flex;
    flex-flow:  row;
    justify-content: space-between;
    align-items: center;
    background-color: #24394F;
    width: 100%;
    height: 15em;
    color: rgb(255, 0, 0);
    gap: 1.5em;
}

.foto{
    background-color: beige;
    width: 15em;
    height: 10em;
    margin-right: 20px;

}
.texto-lateral{
   font-size: 10px;
}